.indev-block {
     padding: 50px;
     text-align: center;
     width: fit-content;
     margin-left: auto;
     margin-right: auto;
}

.indev-block * {
    line-height: 60px;
    font-size: 50px;
    color: #E3E3E3;
    text-transform: uppercase;
}
