@import url('reset.css');
@import url('fonts.css');

body, html {
    height: 100%;
}

body {
   display: flex;
   flex-direction: column;
}

/*    ====   PAGE TEXT   ====    */

.page h1, .page h2, .page h3 {
    font-family: Inter;
    line-height: 50px;
}

.page h1 {
    font-size: 28px;
    font-weight: 900;
}

.page h2 {
    font-size: 20px;
    font-weight: 700;
}

.page a, p, span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

/*
.layer {
    background-color: #FFF;
}
*/

/*    ====   HEADER   ====    */

header {
    position: relative;
    z-index: 1;
    height: 55px;
    background-color: #FFF;
    box-shadow: 0 0 50px -20px rgba(0, 0, 0, 0.25);
}

header nav {
    display: none;
    float: right;
    position: relative;
    margin-left: auto;
    right: 0px;
}

nav a {
    color: #A3A3A3;
    font-family: Inter;
    font-size: 16px;
    text-decoration: none;
    margin-right: 30px;
}

nav a:last-child {
    margin: 0;
}

nav a:hover {
    color: #367DFF;
}

nav a:focus {
    color: #A5C5FF;
}

h1.logo {
    font-family: 'Gotham';
    font-size: 28px;
    font-weight: 900;
}

h1.logo span.color-accent {
    font-family: 'Gotham';
    font-size: 28px;
    font-weight: 900;
}

/*    ====   PAGE   ====    */

.page-wrapper {
   display: grid;
   grid-template-rows: min-content;
   flex: 1 0 auto;
   background-color: #F3F3F3;
}

.page {
    z-index: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 50px;
}

.page-body {
    width: 750px;
    background: #FFF;
}

/*    ====   CONTENT   ====    */



/*    ====   ASIDE   ====    */

.side-column {
    overflow: hidden;
    width: 300px;
}

nav#menu {
    background: #FFF;
    height: 190px;
}

.menu-button-group {
    display: grid;
    margin: auto;
    row-gap: 16px;
    width: 260px;
}

/*    ====   FOOTER   ====    */

footer {
    color: #B3B3B3;
    text-align: justify;
    background-color: #333333;
}

footer .page-body {
    background-color: transparent;
}

.name {
    font-weight: bold;
}

/*    ====   ADAPTATION RULES   ====    */

@media screen and (max-width: 1120px) {

    .container {
        width: auto;
    }

    .side-column {
        display: none;
    }

    .page {
        flex-direction: column-reverse;
        row-gap: 0;
    }

    .page-body {
        width: auto;
    }

    header nav {
        display: initial;
    }
}