.clearfix::after {
    content: ""; /* Генерируем пустой элемент */
    clear: both; /* Отменяем обтекание*/
    display: block; /* Блочный элемент */
}

/*    ====   CONTENT   ====    */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

.content {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.content-block {
    margin-top: 50px;
    margin-bottom: 25px;
}

.content-row {
    margin-bottom: 25px;
}

.color-accent {
    color: #367DFF;
}

/*    ====   BUTTONS   ====    */

.button {
    height: 40px;
    font-family: Inter;
    font-weight: 500;
    outline: none;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
}

.button:hover {
    color: #367DFF;
    border: 2px solid #367DFF;
    transition: 0.2s ease-in-out;
}

.button:active {
    box-shadow: 0 0 0 5px #A5C5FF;
}

.button-submit {
    height: 40px;
    font-family: Inter;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #FFF;
    background-color: #367DFF;
    box-shadow: 0 0 0 2px #A5C5FF;
}

.button-submit:hover {
    color: #FFF;
    box-shadow: 0 0 0 5px #A5C5FF;
    transition: 0.5s ease-in-out;
}

.button-submit:active {
    color: #367DFF;
    background-color: #FFF;
    transition: 0.1s ease-in-out;
}

:root {
    red: #F00;
}

.button-add {
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;

    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    color: #367DFF;

    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #367DFF;
    outline: none;
}

.button-add:active {
    background-color:#367DFF;
    color: #FFF;
}

.button-add-disabled {
    background-color: #F3F3F3;
    color: #C4C4C4;
    border: none;
    pointer-events: none;
}

/*    ====   INPUTS   ====    */

.input {
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    line-height: 50px;
    font-family: Inter;
    font-weight: 500;
    outline: none;
    background-color: #FFF;
    border-radius: 10px;
    border: 2px solid #367DFF;
}

.input:focus {
    box-shadow: 0 0 0 5px #A5C5FF;
    transition: 0.2s ease-in-out;
}

.area {
    min-height: 200px;
    min-width: 100%;
    max-width: 100%;
    line-height: initial;
}

/*    ====   STYLING   ====    */

.float-box {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/*    ====   ELEMENTS ALIGN   ====    */

.vertical-align-wrapper {
    height: 100%;
}

.vertical-align-outer {
    height: 100%;
    display: flex;
}

.vertical-align-inner {
    margin-top: auto;
    margin-bottom: auto;
}

.warning-pane {
    padding: 20px;

    background-color: #FFC666;
    border-radius: 10px;
}
