<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/lib.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="container">
                <div class="header-bar content">
                    <h1>Опросник<span class="color-accent">.</span>ру</h1>
                </div>
            </div>
        </header>
        <main>
            <div class="page container">
                <div class="page-body layer content">
                    <p>huisosi</p>
                </div>
                <aside class="layer menu">
                    <div>
                        pidor
                    </div>
                </aside>
            </div>
        </main>
    </div>
    <footer>
        <div class="container">
            <div class="content">
                <p>I am footer</p>
            </div>
        </div>
    </footer>
</body>
</html>