<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/lib.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="container vertical-align-wrapper">
                <div class="header-bar content vertical-align-outer">
                    <h1 class="logo vertical-align-inner">Опросник<span class="color-accent">.</span>ру</h1>
                </div>
            </div>
        </header>
        <main>
            <div class="page container">
                <div class="page-body content">
                    <!--    Content section    -->
                    {% block content %}
                    {% endblock %}
                    <!--    End of content section    -->
                </div>
                <aside class="side-column">
                    <nav id="menu" class="float-box content-row vertical-align-wrapper">
                        <div class="vertical-align-outer">
                            <div class="menu-button-group vertical-align-inner">
                                <button class="button" onclick="window.location.href={{ url_for('create') }}">Создать тест</button>
                                <button class="button" onclick="window.location.href=`{{ url_for('questionnaire', test_id='test_questionnaire') }}`">Все тесты</button>
                                <button class="button" onclick="window.location.href=`{{ url_for('statistics', test_id='test_statistics') }}`">Статистика</button>
                            </div>
                        </div>
                    </nav>
                </aside>
            </div>
        </main>
    </div>
    <footer>
        <div class="container">
            <div class="content">
                <div class="content-row">
                    <p>Автор: <span class="name color-accent">Яцкова Виктория</span>, 5 группа, 3 курс, ФКН, ПИвИС, ВГУ</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>