{% extends 'base.html' %}
{% block head %}
                    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
{% endblock %}
{% block content %}
                    <!--    Test section    -->
                    <div class="content-block">
                        <div class="content-row">
                            <h1>Создание опросника</h1>
                            <p>
                                Здесь вы можете создать свой собственный опросник.
                                Для создания теста введите в поле имя автора любой псевдоним,
                                а в поле возраст автора ваш достоверный возраст.
                                <br><br>
                                Любая указанная информация не имеет личностоного окраса, мы не собираем
                                никакие конфеденциальные данные, любая информация собирается в обезличенном виде
                                и используется только для ведения статистики.
                            </p>
                        </div>
                        {% include 'warning_pane.html' %}
                            <form action="" method="POST">
                                {{ form.hidden_tag() }}
                                <section class="section-author">
                                    <div class="content-row">
                                        <h2>{{ form.title.label }}</h2>
                                        {{ form.title(class="input") }}
                                    </div>
                                    <div class="content-row">
                                        <h2>{{ form.author_name.label }}</h2>
                                        {{ form.author_name(class="input") }}
                                    </div>
                                    <div class="content-row">
                                        <h2>{{ form.author_birth.label }}</h2>
                                        {{ form.author_birth(class="input") }}
                                    </div>
                                </section>
                                <section class="section-questions">
                                    <div class="question-group">
                                        {% for question in form.questions %}
                                        <div class="question-block">
                                            <h2>ВОПРОС {{ loop.index }}.</h2>
                                            <div class="content-row">
                                                <h2>{{ question.title.label }}</h2>
                                                {{ question.title(class="input") }}
                                            </div>
                                            <div class="content-row">
                                                <h2>{{ question.text.label }}</h2>
                                                {{ question.text(class="input area", rows=10, cols=30) }}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="content-row">
                                            <button class="button-add">1</button>
                                            <button class="button-add">+</button>
                                            <button class="button-add button-add-disabled">+</button>
                                            <button class="button-add button-add-disabled">+</button>
                                            <button class="button-add button-add-disabled">+</button>
                                        </div>
                                    </div>
                                </section>
                            </form>
                    </div>
                    <!--    End of test section    -->

{% endblock %}