{% extends 'base.html' %}
{% block head %}
                    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
{% endblock %}
{% block content %}
                    <!--    Test section    -->
                    <div class="content-block">
                        <div class="content-row">
                            <h1>Создание опросника</h1>
                            <p>
                                Здесь вы можете создать свой собственный опросник.
                                Для создания теста введите в поле имя автора любой псевдоним,
                                а в поле возраст автора ваш достоверный возраст.
                                <br><br>
                                Любая указанная информация не имеет личностоного окраса, мы не собираем
                                никакие конфеденциальные данные, любая информация собирается в обезличенном виде
                                и используется только для ведения статистики.
                            </p>
                        </div>

                            <form action="" method="POST">
                                {{ form.hidden_tag() }}
                                <section class="section-author">
                                    <div class="content-row">
                                        <h2>{{ form.title.label }}</h2>
                                        {% set errors = form.title.errors %}
                                        {% if errors %}
                                            {{ form.title(class="input invalid") }}
                                            {% include 'warning_pane.html' %}
                                        {% else %}
                                            {{ form.title(class="input") }}
                                        {% endif %}
                                    </div>
                                    <div class="content-row">
                                        <h2>{{ form.author_name.label }}</h2>
                                        {% set errors = form.author_name.errors %}
                                        {% if errors %}
                                            {{ form.author_name(class="input invalid") }}
                                            {% include 'warning_pane.html' %}
                                        {% else %}
                                            {{ form.author_name(class="input") }}
                                        {% endif %}
                                    </div>
                                    <div class="content-row">
                                        <h2>{{ form.author_birth.label }}</h2>
                                        {% set errors = form.author_birth.errors %}
                                        {% if errors %}
                                            {{ form.author_birth(class="input invalid") }}
                                            {% include 'warning_pane.html' %}
                                        {% else %}
                                            {{ form.author_birth(class="input", placeholder="YYYY-MM-DD") }}
                                        {% endif %}
                                    </div>
                                </section>
                                <section class="section-questions">
                                    <div class="question-group">
                                        {% for question in form.questions %}
                                            <div class="question-block">
                                                {{ question.hidden_tag() }}
                                                <h2>ВОПРОС {{ loop.index }}.</h2>
                                                <div class="content-row">
                                                    <h2>{{ question.title.label }}</h2>
                                                    {% set errors = question.title.errors %}
                                                    {% if errors %}
                                                        {{ question.title(class="input invalid") }}
                                                        {% include 'warning_pane.html' %}
                                                    {% else %}
                                                        {{ question.title(class="input") }}
                                                    {% endif %}
                                                </div>
                                                <div class="content-row">
                                                    <h2>{{ question.answer_type.label }}</h2>
                                                    {{ question.answer_type(class="input") }}
                                                </div>
                                                <div class="content-row">
                                                    <h2>{{ question.text.label }}</h2>
                                                    {% set errors = question.text.errors %}
                                                    {% if errors %}
                                                        {{ question.text(class="input invalid area", rows=10, cols=30) }}
                                                        {% include 'warning_pane.html' %}
                                                    {% else %}
                                                        {{ question.text(class="input area", rows=10, cols=30) }}
                                                    {% endif %}
                                                </div>
                                                <div class="content-row">
                                                    {% for variant in question.variants %}
                                                        <h2>{{ variant.label }} {{ loop.index }}</h2>
                                                        {{ variant(class="input") }}
                                                    {% endfor %}
                                                </div>
                                                <div class="content-row">
                                                    <button class="button-add">1</button>
                                                    {{ question.button_add_variant(class="button-add") }}
                                                    <button class="button-add button-add-disabled">+</button>
                                                    <button class="button-add button-add-disabled">+</button>
                                                    <button class="button-add button-add-disabled">+</button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="content-row">

                                            {{ form.button_add_question(class="button-submit") }}
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <div class="content-row">
                                        {{ form.submit(class="button-submit") }}
                                    </div>
                                </section>
                            </form>
                    </div>
                    <!--    End of test section    -->

{% endblock %}