{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/test.css') }}">{% endblock %}
{% block content %}
    <div class="content-block">
        <section class="description-block">
            <div class="content-row">
                <h1>{{ test.title }}</h1>
                <p>Автор теста: {{ test.author_name }}</p>
                <p>Дата создания: {{ test.creation_date }}</p>
            </div>
        </section>
        <form action="" method="POST">
            <!--
            <section class="user-info">
                <label for="{{ test.username_input_html_id }}">{{ test.username_input_label }}</label>
                <input type="text" id="{{ test.username_input_html_id }}" name="{{ test.username_input_html_id }}" class="input" required>
            </section>
            -->
            <section class="questions-block">
            {% for question in test.questions %}
                
                {% set type_id = question.type.id %}
                <div class="content-row">
                    {% set question_no = loop.index %}
                    <h1> {{ question_no }}. {{ question.title }} </h1>
                    {% if question.text %}
                    <p> {{ question.text }} </p>
                    {% endif %}
                    <p>
                        <strong>Тип ответа:</strong>
                        <span class="answer-type">{{ question.type.name }}</span>
                    </p>
                </div>
                {% if type_id == 1 %}
                    <ul class="answers-list content-row">
                        {% for choice in question.answers %}
                            <li class="answer-variant">
                                <input id="{{ choice.html_id }}" type="radio" name="{{ choice.html_name }}" value="{{ choice.id }}">
                                <label for="{{ choice.html_id }}">{{ choice.value }}</label>
                            </li>
                        {% endfor %}
                    </ul>

                {% elif type_id == 2 %}
                    <ul class="answer-list content-row">
                        {% for check in question.answers %}
                            <li class="answer-variant">
                                <input id="{{ check.html_id }}" type="checkbox" name="{{ check.html_name }}" value="{{ check.id }}">
                                <label for="{{ check.html_id }}"> {{ check.value }} </label>
                            </li>
                        {% endfor %}
                    </ul>
                {% elif type_id == 3 %}
                    <div class="content-row">
                        {% for text in question.answers %}
                            <h2><label for="{{ text.html_id }}">{{ text.value }}</label></h2>
                            <textarea id="{{ text.html_id }}" class="area input" rows="10" cols="30" name="{{ text.html_name }}" required></textarea>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </section>
            <section class="action-block">
            <div class="content-row">
                <input id="submit" name="submit" type="submit" value="Отправить" class="button-submit">
            </div>
        </section>
        </form>
    </div>
{% endblock %}