{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/test.css') }}">
{% endblock %}

{% block content %}
    <div class="content-block">
        <section class="description-block">
            <div class="content-row">
                <h1>{{ form.title }}</h1>
                <p>Автор теста: {{ form.author }}</p>
                <p>Дата создания: {{ form.creation_date }}</p>
            </div>
        </section>
        <form action="" method="POST">
            <section class="questions-block">
            {% for question in form.questions %}
                {% set type_id = question.type.id %}
                <div class="content-row">
                    <h1> {{ loop.index }}. {{ question.title }} </h1>
                    {% if question.text %}
                    <p> {{ question.text }} </p>
                    {% endif %}
                    <p>
                        <strong>Тип ответа:</strong>
                        <span class="answer-type">{{ question.type.name }}</span>
                    </p>
                </div>
                {% if type_id == 1 %}
                    {% set variant = question.answers.variants[0] %}
                    {{ variant(class="content-row") }}
                {% elif type_id == 2 %}
                    <ul class="answer-list content-row">
                        {% for variant in question.answers.variants %}
                            <li class="answer-variant">
                                <h2>{{ variant.label }}</h2>
                                {{ variant }}
                            </li>
                        {% endfor %}
                    </ul>
                {% elif type_id == 3 %}
                    <ul class="answer-list content-row">
                        {% for variant in question.answers.variants %}
                            <li class="answer-variant">
                                <h2>{{ variant.label }}</h2>
                                {{ variant(class="input area") }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </section>
            <section class="action-block">
            <div class="content-row">
                {{ form.submit(class="button button-submit") }}
            </div>
        </section>
        </form>
    </div>
{% endblock %}